Solution/package/Workflows/Recurrence-TrackEnvironmentVersion-672438AE-4719-EC11-B6E6-6045BD8D2747.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"yn_sharedcommondataserviceforapps_ded07"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["0"]}},"type":"Recurrence"}},"actions":{"Perform_an_unbound_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"yn_GetEnvironmentVersion2"},"authentication":"@parameters('$authentication')"}},"Find_received_version_in_DB":{"runAfter":{"Perform_an_unbound_action":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"yn_environmentversions","$select":"yn_version,yn_iscurrent,_yn_previousversionid_value","$filter":"yn_version eq '@{outputs('Perform_an_unbound_action')?['body/Version']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Check_if_version_is_already_tracked":{"actions":{"Find_prev_current_version":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"yn_environmentversions","$select":"yn_iscurrent","$filter":"yn_iscurrent eq true","$top":1},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Find_prev_current_version')?['body/value']","actions":{"Unmark_prev_current_version":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"yn_environmentversions","recordId":"@items('Apply_to_each_2')['yn_environmentversionid']","item/yn_iscurrent":false},"authentication":"@parameters('$authentication')"}},"Add_a_new_current_version_with_link_to_prev_version":{"runAfter":{"Unmark_prev_current_version":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"yn_environmentversions","item/yn_version":"@outputs('Perform_an_unbound_action')?['body/Version']","item/yn_iscurrent":true,"item/yn_PreviousVersionId@odata.bind":"/@{items('Apply_to_each_2')['@odata.editLink']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Find_prev_current_version":["Succeeded"]},"else":{"actions":{"Add_a_new_current_version_without_link_to_prev_version":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"yn_environmentversions","item/yn_version":"@outputs('Perform_an_unbound_action')?['body/Version']","item/yn_iscurrent":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Find_prev_current_version')?['body/value'])",0]},"type":"If"},"Terminate_2":{"runAfter":{"Condition":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Find_received_version_in_DB":["Succeeded"]},"else":{"actions":{"Mark_the_operation_as_cancelled":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@length(outputs('Find_received_version_in_DB')?['body/value'])",0]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}