Solution/package/Workflows/WhennewEnvVersionrecordiscreated-7CDE0EE2-F219-EC11-B6E6-6045BD8D2747.json
{"properties":{"connectionReferences":{"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"yn_sharedteams_877d1"},"api":{"name":"shared_teams"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"yn_sharedcommondataserviceforapps_ded07"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"EVT Recipients":{"defaultValue":"nazarenko.y@outlook.com","type":"String","metadata":{"schemaName":"yn_evt_recipients","description":"Recipients of the notification"}}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"yn_environmentversion","subscriptionRequest/scope":4,"subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Post_adaptive_card_in_a_chat_or_channel":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{parameters('EVT Recipients')};","body/messageBody":"{\n    \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.0\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Hooray!!!🎉🎉🎉\"\n        },            {\n            \"type\": \"TextBlock\",\n            \"text\": \" The new environment version is installed: **@{triggerOutputs()?['body/yn_version']}**\"\n        },  \n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Sincerely, your EVT \"\n        }\n    ]\n}"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Post_adaptive_card_in_a_chat_or_channel":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentVersion","type":"string","value":"@triggerOutputs()?['body/yn_version']"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}